<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin login</title>
</head>
<body>
<div class="main-menu">
   <div><h1>{% include 'menu/title.html' %}</h1></div>
    <div><a href="/">log out</a></div>
</div>

<div>
    <form action="/admin_login" method="post">
        <label>username 
            <input type="text" name="box1" required >
        </label>
        <label >Password 
            <input type="password" name="box2" required >
        </label>
        <button>Login</button>
    </form>
</div>
</body>
</html>