<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>medial login page | home</title>
</head>
<body>
    <div class="main-menu">
        <div><h1>project title</h1>
</div>
         <div><a href="/">log out</a></div>
     </div>
     
     <div>
         <form action="" method="post">
             <label>username 
                 <input type="text" name="box1" required >
             </label>
             <label >Password 
                 <input type="password" name="box2" required >
             </label>
             <button>Login</button>
         </form>
     </div>
</body>
</html>